@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
}
.container {
  display: flex;
  width: 100%;
  justify-content: start;
}
.logo {
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 72px;
}
.menu {
  display: flex;
  align-items: center;

}
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
 nav a:hover {
   text-decoration: underline red;
}

#parte1 {
  padding: 20px 64px 20px 72px;
  background-image: url(../CocaCola/Coca.png);
  height: 350px;
}
.texto1-1 {
  font-size: 40px;
  width: 50%;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  line-height: 50px;
}
.texto1-2 {
  font-size: 20px;
  width: 50%;
  color: white;
}
.botao {
  text-decoration: none;
  color: black;
}
.texto1-botao {
  background-color: white;
  border: none;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 25px;
}
.texto1-botao:hover{
  color: white;
  background-color: red;
}
#parte2 {
  height: 355px;
}
.texto2-1 {
  font-size: 50px;
  margin: 100px 1px 1px 40%;
}
.texto2-2 {
  font-size: 20px;
  margin: 1px 1px 1px 37%;
}
.texto2-3 {
  font-size: 20px;
  margin: 1px 1px 1px 42%;
}
.botao2 {
  text-decoration: none;
  color:white;
}
.texto2-botao {
  background-color: black;
  margin: 1px 1px 1px 39%;
  border: none;
  height: 50px;
  padding: 0 60px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 25px;
}
.texto2-botao:hover, .botao2:hover{
  color: white;
  background-color: red;
}
#parte3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 565px;
  background-color: black;
  color: white;
}
.texto3-1 {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
}
.texto3-2 {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
.texto3-3 {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.botao3 {
  text-decoration: none;
  color: white;
}
.texto3-botao {
  margin: 1px 1px 20px 33%;
  border: 1px solid rgb(27, 20, 20);
  background-color: black;
  height: 50px;
  padding: 0 60px;
  font-size: 16px;
  border-radius: 25px;
}
.texto3-botao:hover{
  background-color: red;
  border: 1px solid white;
}
.pai1 {
  display: flex;
  justify-content: space-between;
  height: 535px;
}
.pai {
  display: flex;
  justify-content: space-between;
  height: 550px;
}
.filho {
  padding: 50px 30px 30px 30px;
}
.filho-titulo {
  font-size: 16px;
  padding-bottom: 25px;
  color: red;
  text-transform: uppercase;
  font-weight: 400px;
  letter-spacing: .25em;
}
.filho-titulo2 {
  padding-bottom: 25px;
  color: black;
  line-height: 1.3em;
  font-size: 40px;
  letter-spacing: .01em;
}
.filho-botao {
  margin-top: 50px;
  width: auto;
  color: white;
  background-color: black;
  border-color: black;
  font-size: 16px;
  position: relative;
  padding: 15px 30px;
  border-radius: 50px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  text-decoration: none;
}
.filho-botao:hover {
  border-color: black;
  background-color: white;
  color: black;
}


.filho1 {
  width: 50%;
  height: 270px;
  padding:150px 20px;
  background-color:#DB3534;
  color: white;

}
.filho1-titulo {
  font-size: 40px;
  line-height: 1.3em;
  letter-spacing: .01em;
  padding-bottom: 25px;
}
.filho1-botao {
  margin-top: 53px;
  font-size: 16px;
  padding: 15px 50px;
  border-radius: 50px;
  color: black;
  text-align: center;
  border: 1px solid;
  border-color: white;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}
.filho1-botao:hover {
  color: black;
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.rodape {
  display: flex;
  background-color: #201e1e;
  justify-content: space-between;
  padding: 51px 20px;
  color: white;
  letter-spacing: .05em
}
.rodapelink {
  font-size: 14px;
  letter-spacing: .05em;
  cursor: pointer;
}
.rodapelink:hover {
  text-decoration: underline white;
}
.rodape4 {
  margin-bottom: 37px;
  text-decoration: none;
}
.rodape4-botao, .rodape5-botao1 {
  padding: 15px 25px;
  margin: 0 0 17;
  width: 165px;
  color: black;
  border-color: white;
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid;
  border-color: white;
}
.rodape4-botao:hover, .rodape5-botao1:hover {
  border: 2px solid;
  border-color: red;
}

.final {
  display: flex;
  background-color: #191919;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
}
.final-texto1 {
  font-size: 9px;
  line-height: 1;
  margin-bottom: 15px;
  max-width: 900px;
  width: 100%;
}
.final-texto2 {
  font-size: 16px;
}